.newMessage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.otp {
    border: 1px solid black;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otpText {
    color: whitesmoke;
}

.otpGenerateButton {
    border: 1px solid rgb(49, 49, 49);
    border-radius: 0.5rem;
    background: rgb(49, 49, 49);
    padding: 0.5rem;
    margin: 1rem;
    color: rgb(112, 233, 235);
}

.messageForm {
    border: 1px solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sendButton {
    border: 1px solid rgb(49, 49, 49);
    border-radius: 0.5rem;
    color: rgb(112, 233, 235);
    background: rgb(49, 49, 49);
    margin-top: 3rem;
    padding: 1rem 2rem;
}

textarea {
    resize: none;
    border-radius: 0.5rem;
    border: 1px solid rgb(49, 49, 49);
    background: rgb(49, 49, 49);
    color: rgb(112, 233, 235);
    padding: 1rem;
}

.otpGenerateButton:hover {
    cursor: pointer;
    color: rgb(0, 226, 60);
    background: whitesmoke;
}

.sendButton:hover {
    cursor: pointer;
    color: rgb(0, 226, 60);
    background: whitesmoke;
}

.sendButton:disabled {
    cursor: not-allowed;
    color: rgb(112, 233, 235);
    background: rgb(45, 45, 45);
}